/** @format */

.Page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #0e151d;
}

.page_content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #0e151d;
  overflow: scroll;
}

.ExploreTxt {
  position: absolute;
  width: max-content;
  height: 295px;
  left: 200px;
  top: 40%;
  font-family: "Saira Stencil One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
}

.specialImage {
  position: absolute;
  width: 497px;
  height: 537px;
  right: 150px;
  top: 293px;
  background: #d9d9d9;
  border-radius: 20px;
}
.Explore_button {
  position: absolute;
  height: 40px;
  width: 250px;
  left: 10%;
  top: 63%;
  background: blue;
  border: none;
  font-family: "Saira Stencil One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  border-radius: 10px;
}
@media screen and (max-width: 1600px) {
  .Explore_button {
    position: absolute;
    height: 40px;
    width: 250px;
    left: 13%;
    top: 70%;
    background: blue;
    border: none;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    border-radius: 10px;
  }
  .specialImage {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 100px;
    top: 23%;
    background: #d9d9d9;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .ExploreTxt {
    position: absolute;
    width: max-content;
    height: 295px;
    left: 10%;
    top: 38%;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
  }
  .specialImage {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 100px;
    top: 23%;
    background: #d9d9d9;
    border-radius: 20px;
  }
  .Explore_button {
    position: absolute;
    height: 40px;
    width: 250px;
    left: 10%;
    top: 70%;
    background: blue;
    border: none;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #ffffff;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .ExploreTxt {
    position: absolute;
    width: max-content;
    height: 295px;
    left: 30%;
    transform: translate(-50%);
    top: 30%;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
  }
  .specialImage {
    position: absolute;
    width: 300px;
    height: 300px;
    right: 5%;
    transform: translate(-50%);
    top: 25%;
    background: #d9d9d9;
    border-radius: 20px;
  }
  .Explore_button {
    position: absolute;
    height: 40px;
    width: 250px;
    left: 20%;
    transform: translate(-50%);
    top: 420px;
    background: blue;
    border: none;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #ffffff;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .ExploreTxt {
    position: absolute;
    width: max-content;
    height: 295px;
    left: 50%;
    transform: translate(-50%);
    top: 150px;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  .specialImage {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    transform: translate(-50%);
    top: 320px;
    background: #d9d9d9;
    border-radius: 20px;
  }
  .Explore_button {
    position: absolute;
    height: 40px;
    width: 250px;
    left: 50%;
    transform: translate(-50%);
    top: 740px;
    background: blue;
    border: none;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #ffffff;
    border-radius: 10px;
  }
}

@media screen and (max-width: 500px) {
  .ExploreTxt {
    position: absolute;
    width: max-content;
    height: 295px;
    left: 50%;
    transform: translate(-50%);
    top: 120px;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
  }
  .specialImage {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 50%;
    transform: translate(-50%);
    top: 300px;
    background: #d9d9d9;
    border-radius: 20px;
  }
  .Explore_button {
    position: absolute;
    height: 36px;
    width: 250px;
    left: 50%;
    transform: translate(-50%);
    top: 570px;
    background: blue;
    border: none;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 35px;
    color: #ffffff;
    border-radius: 10px;
  }
}
