/** @format */

.menu {
  position: absolute;
  left: -200px;
}
.drawer {
  position: inherit;
  left: -200px;
}

/* ================== */

.Top_bar {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #0e151d;
  border-bottom: 1px solid #fbfbfb;
}
.leftBar {
  box-sizing: border-box;
  position: absolute;
  min-width: 364px;
  min-height: 90%;
  max-height: fit-content;
  max-width: fit-content;
  resize: horizontal;
  overflow: scroll;
  /* left: 0px; */
  top: 100px;
  background: #0e151d;
  border-right: 1px dotted #fbfbfb;
}

.connectwalletBTN {
  position: absolute;
  width: 250px;
  height: 55px;
  right: 20px;
  top: 30px;
  background: #0e151d;
  border: 1px solid #fbfbfb;
  border-radius: 20px;
  font-family: "Saira Stencil One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #ffffff;
}

.Myprofile_button_ {
  position: absolute;
  width: max-content;
  height: 36px;
  left: 73px;
  top: 100px;
  font-family: "Saira Stencil One";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #ffffff;
  border: none;
  background: none;
}
.Nfts_button_ {
  position: absolute;
  width: max-content;
  height: 36px;
  left: 73px;
  top: 170px;
  font-family: "Saira Stencil One";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  border: none;
  background: none;
}
.Staking_btn {
  position: absolute;
  width: max-content;
  height: 36px;
  left: 73px;
  top: 240px;
  font-family: "Saira Stencil One";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  border: none;
  background: none;
}

.logo {
  position: absolute;
  width: 162px;
  height: 55px;
  left: 53px;
  top: 29px;
  font-family: "Saira Stencil One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 55px;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .leftBar {
    box-sizing: border-box;
    position: absolute;
    min-width: 270px;
    min-height: 90%;
    max-height: fit-content;
    max-width: fit-content;
    resize: horizontal;
    overflow: scroll;
    /* left: 0px; */
    top: 100px;
    background: #0e151d;
    border-right: 1px dotted #fbfbfb;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    position: absolute;
    width: 162px;
    height: 55px;
    left: 35%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    top: 29px;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 55px;
    color: #ffffff;
  }
  .connectwalletBTN {
    position: absolute;
    width: 180px;
    height: 55px;
    right: 20px;
    top: 29px;
    background: #0e151d;
    border: 1px solid #fbfbfb;
    border-radius: 20px;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 55px;
    color: #ffffff;
  }
  .leftBar {
    display: none;
  }
  .menu {
    position: absolute;
    width: max-content;
    height: max-content;
    left: 10%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    top: 36px;
    font-family: "Saira Stencil One";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    background: none;
    border: 0ch;
  }
  .drawer {
    position: relative;
    margin-top: 100px;
  }

  .drawerBar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: #1d2b3b;
    margin-top: 0px;
  }

  .buttons {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background: none;
    color: #fbfbfb;
    border: none;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Saira Stencil One";
    font-style: normal;
    width: 200px;
    top: 100px;
  }
  .button1 {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background: none;
    color: #fbfbfb;
    border: none;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Saira Stencil One";
    font-style: normal;
    width: 200px;
    top: 170px;
  }
  .button2 {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background: none;
    color: #fbfbfb;
    border: none;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Saira Stencil One";
    font-style: normal;
    width: 200px;
    top: 240px;
  }
  .button3 {
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background: none;
    color: #fbfbfb;
    border: none;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Saira Stencil One";
    font-style: normal;
    width: 200px;
    top: 310px;
  }
}
