/** @format */

@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Stencil+One&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #0e151d;
  overflow-y: hidden;
}

.active {
  border-bottom: 5px solid #0669fc;
  color: #0669fc;
}


a {
  color: antiquewhite;
  text-decoration: none;

}
a:hover {
   border-bottom: 5px solid #0669fc;
  color: #0669fc;
}

section {
  width: 100vw;
  height: 100vh;
}
